.detail{
    padding: var(--spacing);
    background-color: var(--primary-color);
    border-top: 30px solid var(--secondary-color);
    transition: background-color var(--transition), border-top-color var(--transition);
}

.typeContainer{
    max-width: calc(100% - 100px);
}

hr{
    background-color: rgba(0,0,0,.3);
    border: none;
    height: 1px;

    /* Hack to pierce padding */
    width: calc(100% + 2 * var(--spacing));
    position: relative;
    left: calc(-1 * var(--spacing));
}

.name,.id{
    color:var(--background-color);
    font-size: 40px;
    font-weight: bold;
    margin: 10px;
}
.id{
    opacity: .7;
    position: absolute;
    top: -17px;
    left: 0;
    font-size: 31px;
}

main{
    padding: var(--spacing);
    border-radius: var(--border-radius);
    background-color:var(--background-color);
    transition: background-color var(--transition);
}

.figure{
    position: absolute;
    top: 0;
    right: 0px;
    width:200px; /*container-width*/
    overflow:hidden; /*hide bounds of image */
    margin:0;   /*reset margin of figure tag*/
}
.figure img{
    display:block; /*remove inline-block spaces*/
    width:100%; /*make image streatch*/
    margin:-15px 0 0 55px ; /*crop*/
}

section.stats{
    --min-label:130px;
    --min-meter:70px;
    --min-column-size:calc(var(--min-meter) + var(--min-label));
    display: grid;
    grid-template-columns: repeat(auto-fill,minmax(var(--min-column-size), 1fr));
    
    grid-row-gap: .2em;

    padding: var(--spacing);
}
section.stats .stat{
    display: flex;
    flex-wrap: nowrap;
}
section.stats .meter{
    flex-grow: 1;
}
section.stats .label{
    width: var(--min-label);
    padding: 5px;
}

.genus{
    margin:var(--spacing);
    font-weight: bold;
}
.description{
    margin:var(--spacing);
}


.profile header{
    background-color:var(--primary-color);
    color: var(--background-color);
    font-weight: bold;
    padding:var(--spacing);
}
.profile>div{
    margin:var(--spacing);
}
.profile .label{
    font-weight: bold;
}
.profile .label::after{
    content:":"
}