.detail{
    padding: var(--spacing);
    background-color: var(--primary-color);
    border-top: 30px solid var(--secondary-color);
    transition: background-color var(--transition), border-top-color var(--transition);
}

.button{
    /* Clear Styles*/
    font-family: inherit;
    font-size: 100%;
    border:none;
    background: none;
    color:var(--background-color)
}

.typeContainer{
    border-radius: var(--border-radius) var(--border-radius) 0 0 ;
    border-bottom: 1px rgba(0,0,0,.3) solid;
}

.meter{
    height:40px;
    width:100%;
    position: relative;

    background-position-y: 50%;
}
.meter{
    box-shadow: 0 5px 5px -5px #999 inset;
    background-color: rgb(223, 223, 223);
    border:none;
    border-radius: 0;    
}

.meter{
    box-shadow: 0 5px 5px -5px #999 inset;
    background-color: rgb(126, 204, 126);
    
    -webkit-animation: growWidth 10s linear !important;
    animation: growWidth 10s  linear !important;
}

meter::after{
    content:attr(value);
    position:absolute;
    top:50%;
    left:.6em;
    transform:translateY(-50%);
    color:var(--background-color);
}

.name,.id{
    color:var(--background-color);
    font-weight: bold;
    margin: 10px;
}
.id{
    opacity: .7;
}

section{
    background-color:var(--background-color);
    transition: background-color var(--transition);
}

.figure{
    position: absolute;
    top: 0;
    right: 0px;
    width:200px; /*container-width*/
    overflow:hidden; /*hide bounds of image */
    margin:0;   /*reset margin of figure tag*/
}
.figure img{
    display:block; /*remove inline-block spaces*/
    width:100%; /*make image streatch*/
    margin:-15px 0 0 17px ; /*crop*/
}

section{
    padding:var(--spacing);
}

section:first-of-type{
    border-radius: 5px 5px 0 0;
}
section:last-of-type{
    border-radius: 0 0 5px 5px;
}

.genus{
    margin:var(--spacing);
    font-weight: bold;
}
.description{
    margin:var(--spacing);
}


.profile header{
    background-color:var(--primary-color);
    color: var(--background-color);
    font-weight: bold;
    padding:var(--spacing);
}
.profile>div{
    margin:var(--spacing);
}
.profile .label{
    font-weight: bold;
}
.profile .label::after{
    content:":"
}