/* General Section
.detail
  padding: var(--spacing)
  background-color: var(--primary-color)
  transition: background-color var(--transition), border-top-color var(--transition)
  min-height: calc(100% - 2* var(--spacing))
  
  .loadScreen
    width: 100%
    height: 100%
    overflow: hidden

    position: absolute;
    top: 0
    left: 0
    z-index: 3

    &.loaded
      z-index: -1
    transition-delay: 1s
    transition-property: z-index

    .pokeball
      margin-left: 50%
      margin-top: 50%
      transform: scale(70)
      transition: all .5s
    &.loaded .pokeball
      transform: scale(0) rotate(360deg)
      margin-left: -10%
      margin-top: -10%
    

  hr
    background-color: rgba(0, 0, 0, 0.3)
    border: none
    height: 1px

    /* Hack to pierce padding
    width: calc(100% + 2 * var(--spacing))
    position: relative
    left: calc(-1 * var(--spacing))

  header
    .return
      // CSS Reset
      background: none
      border: none

      cursor: pointer

      height: 26px
      width: 42px
      .leftArrow
        stroke: none !important
        fill: rgba(0,0,0,.2) !important
        
    .name
      color: var(--background-color)
      font-size: 40px
      font-weight: bold
      margin: 10px

    .id
      color: var(--background-color)
      font-size: 40px
      font-weight: bold
      margin: 10px
      opacity: .7
      position: absolute
      top: -17px
      left: 0
      font-size: 31px

  main
    padding: var(--spacing)
    border-radius: var(--border-radius)
    background-color: var(--background-color)
    transition: background-color var(--transition)

  .figure
    width: 200px

    /*container-width
    overflow: hidden

    /*hide bounds of image
    margin: 0

    /*reset margin of figure tag

    img
      display: block

      /*remove inline-block spaces
      width: 100%


  .genus
    margin: var(--spacing)
    font-weight: bold

  .description
    margin: var(--spacing)


/* Small Section
@media (max-width: 660px)
  .detail
    --spacing: var(--mobile-spacing)
    border-top: calc(3 * var(--spacing)) solid var(--secondary-color)
    min-height: calc(100% - 5 * var(--spacing))

    .return
      height: 28px
      padding: 0

    /* Hide desktop name/id
    .typeContainer
      .name, .id
        display: none

      max-width: calc(100% - 100px)

    /* Make room for absolute picture

    .figure
      position: absolute
      top: 0
      right: 0px

      img
        margin: (-15px) 0 0 55px

        /*crop and send part off page

/* Desktop Section
@media (min-width: 660px)
  .detail
    --spacing: var(--desktop-spacing)

    > header
      text-align: center
      margin-top: calc(-1*var(--spacing))

      .return
        height: 46px
        width: 74px       

      .name
        font-size: 60px
        display: inline-block

      .id
        display: none

    main
      display: flex
      flex-wrap: wrap
      max-width: 820px
      margin: 0 auto

      > *
        flex: 1 1 auto

    .typeContainer
      display: flex
      align-items: baseline
      flex: 1 1 420px

      .name, .id
        padding-right: 10px

      .name
        font-size: 20px
        font-weight: bold
        color: var(--secondary-color)
        flex: 0 0 auto

      .id
        font-weight: bold
        color: rgba(0, 0, 0, 0.3)
        flex: 1 0 auto

    main hr
      width: 100%
      left: unset
      position: relative

    .figure
      display: inline-block

      img
        width: 230px

    main header
      text-align: unset