.type
  --border-thickness:2px
  --border-radius:6px
  z-index: 0
  padding: 2px 6px
  margin: 5px
  display: inline-block
  text-transform: uppercase
  position: relative
  color: var(--type-color)
  border-radius: var(--border-radius)
  border: var(--border-thickness) solid rgba(0, 0, 0, 0)
  
  --grass: green
  --psychic: gray
  --poison: purple
  --fire: orange
  --flying: rgb(73, 73, 172)
  --water: blue
  --fairy: pink
  --ground: brown
  --rock: rgb(77, 77, 77)
  --electric: rgb(140, 140, 241)

  &::before, &::after
    border-radius: var(--border-radius)
    border-width: var(--border-thickness)
    border-style: solid
    border-color: rgba(0, 0, 0, 0)
    content: ""
    position: absolute
    height: 100%
    width: 100%
    top: -1px
    left: -1px
    
  &::before
    opacity: .2
    z-index: 0
    background-color: var(--type-color)

  &::after
    opacity: .5
    z-index: 2
    border-color: var(--type-color)