header
  .prevButton, .nextButton
    background-color: white
  
main .list
  display: flex
  flex-wrap: wrap

.pokemon
  width: 300px
  background-color: blue
  margin: 10px

  
.prev, .next
  height: 42px
  stroke: none !important // To override default styling
  fill: rgba(0,0,0,.2) !important // To override default styling